<p class="auto-cursor-target"><br /></p>
<table class="relative-table" style="width: 78.3152%;">
<colgroup>
<col style="width: 50%;" />
<col style="width: 3%;" />
<col style="width: 36%;" />
<col style="width: 10%;" />
<col style="width: 5;" />
<col style="width: 50%;" />
</colgroup>
<tbody>
<tr>
<th>Name</th>
<th>Path</th>
<th>ServiceURL</th>
<th>OperationId</th>
<th>Method</th>
<th>Operation</th>
</tr>
#foreach( $api in $apiCatalogList )
<tr>
<td>$!api.azureApiCatalog.name</td>
<td>$!api.azureApiCatalog.path</td>
<td>$!api.azureApiCatalog.serviceUrl</td>
<td>$!api.name</td>
<td>$!api.method</td>
<td>$!api.urlTemplate</td>
</tr>
#end
</tbody>
</table>
<p class="auto-cursor-target"><br /></p>
<p><br /></p>