<p class="auto-cursor-target"><br /></p>
<table class="relative-table" style="width: 78.3152%;">
<colgroup>
<col style="width: 20%;" />
<col style="width: 20%;" />
<col style="width: 20%;" />
<col style="width: 20%;" />
<col style="width: 20%;" />
</colgroup>
<tbody>
<tr>
<th>Azure Name</th>
<th>Azure Full Path</th>
<th>Bluemix API Name</th>
<th>Bluemix API Version</th>
<th>Bluemix Full Path</th>
</tr>
#foreach( $comparison in $comparisons )
<tr>
<td>$!comparison.azureApiName</td>
<td>$!comparison.azureFullPath</td>
<td>$!comparison.bluemixApiName</td>
<td>$!comparison.bluemixApiVersion</td>
<td>$!comparison.bluemixFullPath</td>
</tr>
#end
</tbody>
</table>
<p class="auto-cursor-target"><br /></p>
<p><br /></p>