<p class="auto-cursor-target"><br /></p>
<table class="relative-table" style="width: 78.3152%;">
<colgroup>
<col style="width: 14.1568%;" /><col style="width: 5.13532%;" /><col style="width: 6.03747%;" />
<col />
<col style="width: 6.03747%;" /><col style="width: 6.59264%;" /><col style="width: 13.0465%;" /><col style="width: 13.0465%;" /><col style="width: 6.59264%;" /><col style="width: 6.10687%;" /><col style="width: 6.03747%;" /><col style="width: 6.73144%;" /><col style="width: 6.38446%;" /><col style="width: 4.09438%;" />
</colgroup>
<tbody>
<tr>
<th colspan="1">API Name</th>
<th colspan="1">Path</th>
<!--<th colspan="1">AzureURL</th>-->
<th colspan="1">Method</th>
<th colspan="1">Organization</th>
<th colspan="1">Product</th>
<th colspan="1">Request Count</th>
<th colspan="1">Total TTSR (Seconds)</th>
<th colspan="1">Average TTSR (Seconds)</th>
<th colspan="1">Total Bytes Sent (Kb)</th>
<th colspan="1">Average Bytes Sent By Call (Kb)</th>
<th colspan="1">Total Service Efficiency</th>
<th colspan="1">Average Service Efficiency</th>
<th colspan="1">Latest Call</th>
<th colspan="1">Latest Epoch</th>
</tr>
#foreach( $report in $historicalReportBySpaces )
<tr>
<td colspan="1"><a href="https://cemexpmo.atlassian.net/wiki/spaces/SDTSD/pages/$!report.apiAncestorId">$!report.apiName</a></td>
<td colspan="1"><a href="https://cemexpmo.atlassian.net/wiki/spaces/SDTSD/pages/$!report.operationAncestorId">$!report.path</a></td>
<!--<td colspan="1">$!report.azureURL</td>-->
<td colspan="1">$!report.requestMethod</td>
<td colspan="1">$!report.devOrgName</td>
<td colspan="1">$!report.productName</td>
<td colspan="1">$!report.requestCount</td>
<td colspan="1">$!report.totalTimeToServeRequest</td>
<td colspan="1">$!report.averageTimeToServeRequest</td>
<td colspan="1">$!report.totalBytesSent</td>
<td colspan="1">$!report.averageBytesSent</td>
<td colspan="1">$!report.serviceEfficiency</td>
<td colspan="1">$!report.averageServiceEfficiency</td>
<td colspan="1">$!report.latestDateTime</td>
<td colspan="1">$!report.latestEpochDate</td>
</tr>
#end
</tbody>
</table>
<p class="auto-cursor-target"><br /></p>
<p><br /></p>